.header {
	position: absolute;
	z-index: 10;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 3rem;
}

.header:after {
	display: none;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 50.5%;
	height: 100%;
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
	background-color: var(--background-primary);
	z-index: -1;
}

.header.hasRightBg::after {
	display: block;
}

.navList {
	position: absolute;
	left: 45%;
	top: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	gap: 2.5rem;
	font-size: 2rem;
}

.menu {
	display: flex;
	gap: 1rem;
}

.menu button {
	max-width: 2rem;
	max-height: 2rem;
	background-color: transparent;
}

.profileImage,
.cartImage {
	object-fit: contain;
	max-width: inherit;
	max-height: inherit;
}

.navListItem {
	color: var(--background-primary);
}
.navListItem:last-child {
	color: var(--color-primary);
}
