.cartCounter {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -1.7rem;
	right: -0.45rem;
	width: 1.4rem;
	height: 1.4rem;
	font-size: 0.75rem;
	color: var(--background-primary);
	background-color: var(--color-primary);
	border-radius: 50%;
}

.cartImage {
	object-fit: contain;
	max-width: inherit;
	max-height: inherit;
}
