.title {
	font-family: 'Gagalin';
	font-size: 4rem;
	text-align: center;

	color: var(--title-color);
}

.primary {
	color: var(--title-color);
}

.secondary {
	color: var(--color-primary);
}

.s {
	font-size: 3rem;
}

.m {
	font-size: 4rem;
}

.l {
	font-size: 4.375rem;
}
