.aboutWrapper {
	padding: 2rem 0 6rem;
	background-color: rgba(var(--background-secondary-rgb), 0.25);
}

.infoContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 2rem;
	margin-top: 2rem;
}

.infoBlock {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: baseline;
	gap: 2rem;
	font-size: 1.5rem;
	/* background-color: red; */
	color: var(--title-color);
}

.infoBlock span {
	display: block;
}

.infoBlock .image {
	filter: brightness(0) saturate(100%) invert(66%) sepia(16%) saturate(281%) hue-rotate(95deg) brightness(90%)
		contrast(91%);
}

[data-theme='dark'] .image {
	filter: brightness(0) saturate(100%) invert(68%) sepia(8%) saturate(540%) hue-rotate(95deg) brightness(90%)
		contrast(88%);
}
